/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/** end reset css**/
body {
  max-width: 1140px;
  margin: auto;
  font-family: "Work Sans";
  font-size: 14px;
}
header {
  display: flex;
  justify-content: space-between;
  margin: 50px 0;
}
section {
  margin: 50px 0;
}
button {
  cursor: pointer;
}
input {
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
  height: 51px;
  width: 379px;
}
.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.titre {
  margin-bottom: 30px;
}
.email {
  margin-bottom: 23px;
}
.button {
  display: flex;
  flex-direction: column;
  margin-top: 35px;
}
.connexion,
.oublier {
  text-decoration: none;
  padding: 10px;
}
.connexion {
  background: #1d6154;
  border-radius: 60px;
  color: white;
  display: flex;
  justify-content: center;
}
.oublier:visited {
  color: inherit;
}

h1 {
  display: flex;
  flex-direction: column;
  font-family: "Syne";
  font-size: 22px;
  font-weight: 800;
  color: #b1663c;
}

h1 > span {
  font-family: "Work Sans";
  font-size: 10px;
  letter-spacing: 0.1em;
}

h2 {
  font-family: "Syne";
  font-weight: 700;
  font-size: 30px;
  color: #1d6154;
}
nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}
nav li {
  padding: 0 10px;
  font-size: 1.2em;
}

li:hover {
  color: #b1663c;
}
#introduction {
  display: flex;
  align-items: center;
}
#introduction figure {
  flex: 1;
}
#introduction img {
  display: block;
  margin: auto;
  width: 80%;
}

#introduction article {
  flex: 1;
}
#introduction h2 {
  margin-bottom: 1em;
}

#introduction p {
  margin-bottom: 0.5em;
}
#portfolio h2 {
  text-align: center;
  margin-bottom: 1em;
}
.gallery {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.gallery img {
  width: 100%;
}
#contact {
  width: 50%;
  margin: auto;
}
#contact > * {
  text-align: center;
}
#contact h2 {
  margin-bottom: 20px;
}
#contact form {
  text-align: left;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

#contact input {
  height: 50px;
  font-size: 1.2em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
  margin: 2em 0 1em 0;
}
#contact textarea {
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"] {
  font-family: "Syne";
  font-weight: 700;
  color: white;
  background-color: #1d6154;
  margin: 2em auto;
  width: 180px;
  text-align: center;
  border-radius: 60px;
}

footer nav ul {
  display: flex;
  justify-content: flex-end;
  margin: 2em;
}

#options {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}
#options a {
  text-decoration: none;
  margin: 10px;
  border: 1px solid #1d6154;
  border-radius: 60px;
  color: #1d6154;
  padding: 10px;
}
#options a:hover,
#options .active {
  background-color: #1d6154;
  color: white;
}
.error-message {
  color: red;
  font-size: 14px;
  /* autres styles que tu souhaites appliquer */
}
/* CSS */
.overlay {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 495px;
  height: 540px;
  background-color: white;
  border-radius: 3px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  display: none;
}
.modal__header {
  display: flex;
  justify-content: center;
}
.modal__footer {
  display: flex;
  flex-direction: column;
  margin-top: auto;
  padding: 12px;
  align-items: center;
}
.modal__footer button {
  margin: 10px;
  width: 240px;
  padding: 6px;
  border: none;
  text-decoration: none;
  font-family: "Syne", sans-serif;
  cursor: pointer;
}

.modal__footer_button {
  background: #1d6154;
  color: white;
  border-radius: 60px;
}
.modal__footer_supprimer {
  background: white;
  color: red;
}

.modal__close {
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
}
.ban {
  background: black;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.ouvrir {
  color: white;
  background: black;
  border: none;
}
.modal__body {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-gap: 10px;
  overflow: auto;
  padding: 10px; /* Ajout d'un padding de 10 pixels */
}

.modal__body img {
  width: 100%;
  /* height: auto;
  max-width: 85px;
  max-height: 75px; */
}

.modal2 {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 495px;
  height: 520px;
  background-color: white;
  border-radius: 3px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  display: none;
}
.modal2__header {
  display: flex;
  justify-content: center;
}
#ajouterForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 47px;
}

#ajouterForm label,
#ajouterForm input {
  margin-bottom: 19px;
}

#ajouterForm button {
  margin-top: 20px;
  margin: 38px;
  width: 240px;
  padding: 6px;
  border: none;
  text-decoration: none;
  font-family: "Syne", sans-serif;
  cursor: pointer;
  background: #1d6154;
  color: white;
  border-radius: 60px;
}
.modal2__close {
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
}
.fa-pen-to-square {
  color: white;
}
.publier {
  color: black;
  background: #ffffff;
  border-radius: 60px;
  border: none;
  padding: 7px;
  font-family: "Syne", sans-serif;
}
.delete-icon {
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
}

a {
  text-decoration: none;
}
.image-text-container {
  position: relative;
}
#categoryId {
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
  height: 51px;
  width: 379px;
}
#toggleContainer {
  border: none;
  background: white;
  display: flex;
  justify-content: center;
}
#toggleButton {
  background: white;
  border: none;
  font-family: "Syne";
}
.fas {
  color: black;
}
.image-icon-container {
  margin-bottom: 30px;
}
.image-icon-container i {
  font-size: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f5f5f5;
  border-radius: 50%;
  cursor: pointer;
  margin-bottom: 10px;
}

.image-icon-container span {
  display: block;
  text-align: center;
  font-size: 16px;
}

#imageFile {
  display: none;
}

#background {
  background: #e8f1f6;
  width: 80%;
  margin-bottom: 10px;
}
/* Add this CSS to your existing styles */
#preview {
  /* Center the background image */
  background-position: center;
  /* Ensure the background image does not repeat */
  background-repeat: no-repeat;
  /* Adjust the background size to cover the entire container */
  background-size: contain;
  /* Set the height of the container to 100% */
  height: 100%;
  /* Background color for the container */
  background-color: #e8f1f6;
  /* Rounded border for the container */

  /* Remove default border for the img element */
  overflow: hidden;
}

.custom-icon {
  /* Center the icon within the container */
  display: flex;
  justify-content: center;
  align-items: center;
  /* Set the size of the container */
  width: 100px;
  height: 100px;
  /* Set the margin to position the container */
  margin: 10px auto;
}

.custom-icon i {
  /* Set the size of the icon */
  font-size: 50px;
  /* Set the color of the icon */
  color: grey;
}

#imageFile {
  /* Hide the file input element */
  display: none;
}
